*{
	padding: 0;
	margin: 0;
}
.tetris_background{
	width: 100%;
	background-color: orange;
}
.tetris_container{
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	background-color: rgb(243,243,243);

}
.tetris_game{
	position: absolute;
	width: 200px;
	height: 400px;
	top: 20px;
	left: 20px;
	border: 1px solid blue;
}
.tetris_diamond{
	position: absolute;
	width: 80px;
	height: 80px;
	top: 20px;
	left: 240px;
	border: 1px solid red;
}
.tetris_adjunct{
	position: absolute;
	width: 120px;
	height: 120px;
	top: 120px;
	left: 300px;
	border: 1px solid orange;
}
.tetris_control{
	position: absolute;
	width: 120px;
	height: 120px;
	top: 250px;
	left: 300px;
	border: 1px solid orange;
}
.tetris_start{
	width: 60px;
	height: 40px;
	line-height: 40px;
	background-color: orange;
}
.none, .current, .done{
	width: 20px;
	height: 20px;
	position: absolute;
	box-sizing: border-box;
}
.none{
	background-color: #f2faff;
	border: 0.1px solid gray;

}
.current{
	background-color: pink;
	border: 1px solid red;
}
.done{
	background-color: gray;
	border: 1px solid black;
}